.header-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5%;
    animation: slideUpFadeIn 0.5s ease-out forwards;
}

.header-img {
    position: relative;
    width: 10%;
}

.header-title {
    color: #BDA5AC;
    font-family: "Zen Dots", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
}

@keyframes slideUpFadeIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

@media (max-width: 600px) {
    .header-img {
        width: 25%;
    }
  }