.timer-display {
    color: #564147;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 600;
    font-size: 60px;
    font-style: normal;
    animation: slideUpFadeIn 0.5s ease-out forwards;
}

@keyframes slideUpFadeIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }