.main-input {
    width: 40%;
    text-align: center;
    font-size: 30px;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 600;
    font-style: normal;
    border-color: #564147;
    border-radius: 8px;
}