.main-input {
    margin-bottom: 8%;
    width: 40%;
    text-align: center;
    font-size: 30px;
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 600;
    font-style: normal;
    border-color: #564147;
    border-radius: 8px;
    animation: slideUpFadeIn 0.5s ease-out forwards;
}

@keyframes slideUpFadeIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }